<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.OrderMapper">
    <resultMap id="Record" type="com.example.springboot.entity.orders">
    <id property="order_id" column="order_id"/>
    <result property="user_id" column="user_id"/>
    <result property="food_id" column="food_id"/>
    <result property="numbers" column="numbers"/>
    <result property="worker_id" column="worker_id"/>
    <result property="order_state" column="order_state"/>

    </resultMap>

    <insert id="insertorder" >
        insert into orders(user_id,food_id,numbers,order_state) values (#{user_id},#{food_id},#{numbers},0)
    </insert>

    <select id="findorder" resultMap="Record">
        select * from orders where order_id = #{order_id}
    </select>

    <delete id="delByOrder_id">
        delete from orders where order_id = #{order_id}
    </delete>

    <update id="update_state">
        update orders set order_state=#{state} where order_id=#{order_id}
    </update>
</mapper>